@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar-slim::-webkit-scrollbar {
    width: 10px;
  }

  .scrollbar-slim::-webkit-scrollbar-track {
    background: transparent;
  }

  .scrollbar-slim::-webkit-scrollbar-thumb {
    background-color: #88888886;
    border-radius: 10px; /* Increase the value for more rounding */
    border: 2px solid transparent; /* Optional: adds spacing around the thumb */
    background-clip: padding-box; /* Ensures proper rendering */
  }

  .scrollbar-slim::-webkit-scrollbar-button {
    display: none;
  }
}
